In [105]:
import pandas as pd

In [106]:
file_pop_20002009_df=pd.read_csv("Idea1/population_20002010.csv",encoding ='latin-1')
file_pop_20002009_df.head(10)

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
0,40,1,0,0,0,Alabama,Alabama,4447207,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736,4785298
1,162,1,0,124,0,Abbeville city,Alabama,2989,2985,2941,2909,2882,2857,2820,2807,2784,2742,2714,2688,2689
2,162,1,0,460,0,Adamsville city,Alabama,5033,5021,4960,4894,4841,4784,4728,4687,4633,4594,4558,4522,4523
3,162,1,0,484,0,Addison town,Alabama,698,701,701,708,714,722,729,741,750,752,759,758,755
4,162,1,0,676,0,Akron town,Alabama,488,485,473,454,442,426,416,404,395,384,369,356,355
5,162,1,0,820,0,Alabaster city,Alabama,23965,24116,24674,25223,25957,26739,27504,28462,29020,29630,30107,30352,30468
6,162,1,0,988,0,Albertville city,Alabama,17376,17440,17601,17948,18294,18608,19051,19565,20014,20482,20875,21160,21209
7,162,1,0,1132,0,Alexander City city,Alabama,15129,15090,14964,14812,14738,14721,14685,14804,14848,14922,14964,14875,14839
8,162,1,0,1228,0,Aliceville city,Alabama,2628,2624,2623,2619,2581,2563,2540,2532,2515,2511,2494,2486,2481
9,162,1,0,1396,0,Allgood town,Alabama,662,661,658,655,654,650,645,643,641,638,631,622,622

In [107]:
file_pop_20002009_cleaned_df=file_pop_20002009_df.drop(columns=['SUMLEV', 'STATE',"COUNTY","PLACE","COUSUB","ESTIMATESBASE2000","CENSUS2010POP","POPESTIMATE2010"])
file_pop_20002009_cleaned_df=file_pop_20002009_cleaned_df.rename(columns={"NAME":"CITY","STNAME":"STATE",
                                             "POPESTIMATE2000":"POP_2000",
                                            "POPESTIMATE2001":"POP_2001",
                                            "POPESTIMATE2002":"POP_2002",
                                            "POPESTIMATE2003":"POP_2003",
                                            "POPESTIMATE2004":"POP_2004",
                                            "POPESTIMATE2005":"POP_2005",
                                            "POPESTIMATE2006":"POP_2006",
                                            "POPESTIMATE2007":"POP_2007",
                                            "POPESTIMATE2008":"POP_2008",
                                            "POPESTIMATE2009":"POP_2009"})
cities=["Austin city","Houston city","San Francisco city","Detroit city","Chicago city","Boston city","New York city"]
states=["Texas","California","Illinois","Massachusetts","Michigan","New York"]
#file_pop_20002009_cleaned_df.head()

file_pop_20002009_cleaned_df=file_pop_20002009_cleaned_df[file_pop_20002009_cleaned_df[["CITY"]].isin(cities).any(axis=1)]
file_pop_20002009_cleaned_df=file_pop_20002009_cleaned_df[file_pop_20002009_cleaned_df[["STATE"]].isin(states).any(axis=1)]
file_pop_20002009_cleaned_df.drop_duplicates(subset='CITY', keep='first',inplace=True)  
file_pop_20002009_cleaned_df.reset_index(drop=True,inplace=True)
file_pop_20002009_cleaned_df

,CITY,STATE,POP_2000,POP_2001,POP_2002,POP_2003,POP_2004,POP_2005,POP_2006,POP_2007,POP_2008,POP_2009
0,San Francisco city,California,777885,780865,772723,766160,761325,763016,768650,778673,791152,801922
1,Chicago city,Illinois,2891582,2874477,2847266,2819117,2786291,2752523,2720181,2703991,2697359,2697006
2,Boston city,Massachusetts,591844,598208,599301,595864,591166,587260,587816,593136,600685,612669
3,Detroit city,Michigan,946240,927136,905996,884411,861186,837407,811922,784998,756383,731155
4,New York city,New York,8017608,8059813,8072000,8068073,8043366,8013368,7993906,8013775,8068195,8131574
5,Austin city,Texas,675775,691119,688644,690293,696973,708423,730373,749641,764945,780172
6,Houston city,Texas,1974324,1979589,1990408,1992464,1991817,1995773,2038721,2044612,2060477,2087334

In [108]:
file_pop_20102018_df=pd.read_csv("Idea1/population_20102018.csv",encoding ='latin-1')
file_pop_20102018_df.head(10)

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018
0,40,1,0,0,0,0,0,A,Alabama,Alabama,...,4780138,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,...,2688,2684,2677,2629,2612,2595,2588,2573,2566,2563
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,...,4516,4510,4496,4474,4453,4432,4406,4373,4342,4325
3,162,1,0,484,0,0,0,A,Addison town,Alabama,...,754,751,751,744,743,740,735,734,728,724
4,162,1,0,676,0,0,0,A,Akron town,Alabama,...,356,355,345,345,341,339,337,332,332,330
5,162,1,0,820,0,0,0,A,Alabaster city,Alabama,...,31091,31186,31346,31653,31946,32149,32739,32984,33223,33340
6,162,1,0,988,0,0,0,A,Albertville city,Alabama,...,21209,21224,21391,21436,21425,21356,21395,21451,21493,21568
7,162,1,0,1132,0,0,0,A,Alexander City city,Alabama,...,14984,14930,14890,14764,14836,14787,14658,14618,14572,14467
8,162,1,0,1228,0,0,0,A,Aliceville city,Alabama,...,2481,2480,2426,2418,2392,2368,2359,2343,2335,2301
9,162,1,0,1396,0,0,0,A,Allgood town,Alabama,...,622,622,623,622,621,622,621,621,622,622

In [109]:
file_pop_20102018_cleaned_df=file_pop_20102018_df.drop(columns=['SUMLEV', 'STATE',"COUNTY","PLACE","COUSUB","CONCIT","PRIMGEO_FLAG","FUNCSTAT","ESTIMATESBASE2010","CENSUS2010POP"])
file_pop_20102018_cleaned_df=file_pop_20102018_cleaned_df.rename(columns={"NAME":"CITY","STNAME":"STATE",
                                             "POPESTIMATE2010":"POP_2010",
                                            "POPESTIMATE2011":"POP_2011",
                                            "POPESTIMATE2012":"POP_2012",
                                            "POPESTIMATE2013":"POP_2013",
                                            "POPESTIMATE2014":"POP_2014",
                                            "POPESTIMATE2015":"POP_2015",
                                            "POPESTIMATE2016":"POP_2016",
                                            "POPESTIMATE2017":"POP_2017",
                                            "POPESTIMATE2018":"POP_2018"})
                                            

cities=["Austin city","Houston city","San Francisco city","Detroit city","Chicago city","Boston city","New York city"]
states=["Texas","California","Illinois","Massachusetts","Michigan","New York"]

file_pop_20102018_cleaned_df=file_pop_20102018_cleaned_df[file_pop_20102018_cleaned_df[["CITY"]].isin(cities).any(axis=1)]
file_pop_20102018_cleaned_df=file_pop_20102018_cleaned_df[file_pop_20102018_cleaned_df[["STATE"]].isin(states).any(axis=1)]
file_pop_20102018_cleaned_df.drop_duplicates(subset='CITY', keep='first',inplace=True)  
file_pop_20102018_cleaned_df.reset_index(drop=True,inplace=True)
file_pop_20102018_cleaned_df

,CITY,STATE,POP_2010,POP_2011,POP_2012,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018
0,San Francisco city,California,805550,815677,829027,839841,851116,863836,872795,879166,883305
1,Chicago city,Illinois,2697529,2708209,2719735,2726772,2728524,2726215,2718946,2713067,2705994
2,Boston city,Massachusetts,621074,630480,643003,653103,663017,670791,680470,688276,694583
3,Detroit city,Michigan,711120,705043,700159,691883,682669,679305,676883,674188,672662
4,New York city,New York,8190355,8272963,8348032,8398739,8437387,8468181,8475976,8438271,8398748
5,Austin city,Texas,806423,828694,854841,875463,901734,921545,939768,951750,964254
6,Houston city,Texas,2098446,2124143,2160086,2198280,2240982,2286630,2309752,2317445,2325502

In [110]:
pop_2000_2018_df = pd.merge(file_pop_20002009_cleaned_df, file_pop_20102018_cleaned_df, on="CITY")
pop_2000_2018_df=pop_2000_2018_df.drop(columns=["STATE_y"])
pop_2000_2018_df=pop_2000_2018_df.rename(columns={"STATE_x":"STATE"})
pop_2000_2018_df

,CITY,STATE,POP_2000,POP_2001,POP_2002,POP_2003,POP_2004,POP_2005,POP_2006,POP_2007,...,POP_2009,POP_2010,POP_2011,POP_2012,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018
0,San Francisco city,California,777885,780865,772723,766160,761325,763016,768650,778673,...,801922,805550,815677,829027,839841,851116,863836,872795,879166,883305
1,Chicago city,Illinois,2891582,2874477,2847266,2819117,2786291,2752523,2720181,2703991,...,2697006,2697529,2708209,2719735,2726772,2728524,2726215,2718946,2713067,2705994
2,Boston city,Massachusetts,591844,598208,599301,595864,591166,587260,587816,593136,...,612669,621074,630480,643003,653103,663017,670791,680470,688276,694583
3,Detroit city,Michigan,946240,927136,905996,884411,861186,837407,811922,784998,...,731155,711120,705043,700159,691883,682669,679305,676883,674188,672662
4,New York city,New York,8017608,8059813,8072000,8068073,8043366,8013368,7993906,8013775,...,8131574,8190355,8272963,8348032,8398739,8437387,8468181,8475976,8438271,8398748
5,Austin city,Texas,675775,691119,688644,690293,696973,708423,730373,749641,...,780172,806423,828694,854841,875463,901734,921545,939768,951750,964254
6,Houston city,Texas,1974324,1979589,1990408,1992464,1991817,1995773,2038721,2044612,...,2087334,2098446,2124143,2160086,2198280,2240982,2286630,2309752,2317445,2325502